
@{
    ViewBag.Title = "ResetPassword";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>ResetPassword</title>    
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

  <body>
    <div class="full-box login-container cover">
        <form action="@Url.Action("Index", "Employee")" method="" autocomplete="off" class="logInForm">




            <div class="m-t-40 card-box">
                <div class="text-center">
                    <h4 class="text-uppercase font-bold mb-0">Restablecer Contraseña</h4>                   
                </div>
                <div class="p-20">

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="email" required="" placeholder="Ingrese correo electrónico

">
                        </div>
                    </div>

                    <div class="form-group text-center m-t-20 mb-0">
                        <div class="col-xs-12">
                            <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">Enviar</button>
                                
                        </div>
                    </div>



                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="text-muted"> ¿No tienes cuenta? <a href="@Url.Action("Register", "Login")" class="text-primary m-l-5"><b>Regístrate</b></a></p>
                </div>
            </div>

        </form>
          
         

    </div>



      @Scripts.Render("~/bundles/jquery")
      @Scripts.Render("~/bundles/bootstrap")
  </body>
</html>





