

@{@model NomiProProject.Models.Empleado

ViewBag.Title = "Inactive";
}

    <body>

        <div class="container-fluid">
            <div class="page-header">                
                <h1 class="text-titles"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Empleado <small>NomiPro</small></h1>
            </div>
        </div>

        <div>
            <div class="panel-heading">
                <h3 class="panel-title"><i class="zmdi zmdi-block"></i>&nbsp; INACTIVAR EMPLEADO </h3>
            </div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Documento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Documento)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Numero_Documento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Numero_Documento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Apellido)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Apellido)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.Genero)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Genero)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Estado)
                </dd>

            </dl>

            <div>
                <div class="col-xs-12">
                    <div>
                        <input id="checkbox-signup" type="checkbox">
                        <label for="checkbox-signup">
                            Inactivar
                        </label>
                    </div>
                </div>
            </div>



            <a href="@Url.Action("ListEmployee", "Employee")" class="btn btn-info" style="color:#000000">
                <i class="zmdi zmdi-arrow-left"></i> &nbsp; Volver
            </a>



            <div class="text-center">
                <div class="margin-top: 20px">
                    <input type="submit" value="Guardar" class="btn btn-info btn-raised btn-sm" />
                </div>
            </div>

        </div>        
        
    </body>