@model IEnumerable<NomiProProject.Models.Cargo>

@{
    ViewBag.Title = "Position";
}


    <body>
        <section>
            <!-- Content page -->
            <div class="container-fluid">
                <div class="page-header">
                    <h1 class="text-titles"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Empleado<small>NomiPro</small></h1>
                </div>
            </div>

            <div class="container-fluid">
                <ul class="breadcrumb breadcrumb-tabs">
                    <li>
                        <a href="@Url.Action("NewEmployee", "Employee")" class="btn btn-info" style="color:#000000">
                            <i class="zmdi zmdi-plus"></i> &nbsp; NUEVO EMPLEADO
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("ListEmployee", "Employee")" class="btn btn-success" style="color:#000000">
                            <i class="zmdi zmdi-format-list-bulleted"></i> &nbsp; LISTA EMPLEADO
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("SearchEmployee", "Employee")" class="btn btn-primary" style="color:#000000">
                            <i class="zmdi zmdi-search"></i> &nbsp; BUSCAR EMPLEADO
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Position", "Position")" class="btn btn-danger" style="color:#000000">
                            <i class="zmdi zmdi-comment-list"></i> &nbsp; LISTA  DE CARGOS
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Panel listado de administradores -->
            <div class="container-fluid">
                <div class="panel panel-success">
                    <div class="panel-heading" style="color:#000000">
                        <h3 class="panel-title"><i class="zmdi zmdi-format-list-bulleted"></i> &nbsp; LISTA DE CARGOS</h3>
                    </div>
                    <div class="panel-body" style="overflow-y:scroll; height:330px">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-hover text-center">

                                    <thead>
                                        <tr>
                                            <th class="text-center">NOMBRE DEL CARGO</th>
                                            <th class="text-center">RANGO SALARIAL MINIMO</th>
                                            <th class="text-center">RANGO SALARIAL MAXIMO</th>
                                            
                                        </tr>
                                    </thead>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Descripción_Cargo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Rango_Minimo_Salario)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Rango_Maximo_Salario)
                                            </td>

                                            <td>
                                                <ul class="breadcrumb breadcrumb-tabs">
                                                    <li>
                                                        <a href="@Url.Action("PositionEdit", "Crud", new { id=item.ID_Cargo })" class="btn btn-info" style="color:#000000">
                                                            <i class="zmdi zmdi-border-color"></i> &nbsp; Editar
                                                        </a>
                                                    </li>


                                                </ul>

                                            </td>
                                        </tr>
                                    }


                                </table>

                            </div>

                        </div>

                    </div>

                </div>



            </div>


        </section>

        <!--====== Scripts -->
        <script src="./js/jquery-3.1.1.min.js"></script>
        <script src="./js/sweetalert2.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>
        <script src="./js/material.min.js"></script>
        <script src="./js/ripples.min.js"></script>
        <script src="./js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="./js/main.js"></script>
        <script>
        $.material.init();
        </script>

    </body>