<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- SideBar -->
    <section class="full-box cover dashboard-sideBar">
        <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
        <div class="full-box dashboard-sideBar-ct">
            <!--SideBar Title -->
            <div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
                NomiPro <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
            </div>
            <!-- SideBar User info -->
            <div class="full-box dashboard-sideBar-UserInfo">
                <figure class="full-box">
                    <img src="~/Content/assets/avatars/StudetFemaleAvatar.png" alt="UserIcon">
                    <figcaption class="text-center text-titles">Mis datos</figcaption>
                </figure>
                <ul class="full-box list-unstyled text-center">
                    <li>
                        <a href="my-data.html" title="Mis datos">
                            <i class="zmdi zmdi-account-circle"></i>
                        </a>
                    </li>
                    <li>
                        <a href="my-account.html" title="Mi cuenta">
                            <i class="zmdi zmdi-settings"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Login", "Login")" title="Salir del sistema" class="btn-exit-system">
                            <i class="zmdi zmdi-power"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- SideBar Menu -->
            <ul class="list-unstyled full-box dashboard-sideBar-Menu">
                <li>
                    <a href="@Url.Action("Company", "Company")">
                        <i class="zmdi zmdi-balance"></i> Información Empresa
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Employee")" class="btn-sideBar-SubMenu">
                        <i class="zmdi zmdi-accounts-alt"></i> Empleado
                    </a>

                </li>               

                <li>
                    <a href="@Url.Action("About", "Home")" class="btn-sideBar-SubMenu">
                        <i class="zmdi zmdi-email-open"></i> Correo Corporativo
                    </a>
                </li>

            </ul>
        </div>
    </section>

    <section class="full-box dashboard-contentPage">
        <!-- NavBar -->
        <div>
            <nav class="full-box dashboard-Navbar"></nav>
        </div>
        <!-- Content page -->
        <div>
            @RenderBody()
        </div>
    </section>

    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
